body {
    background-color: #212121;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
}

#main, #anbietercontainer, #knopfstatuscontainer, #suchstatuscookie {
   display: none;
}

#main {
    display: none;
    text-align: left;
    margin: 0px 0px 20px 20px;
}

#main > div {
    margin-top: 10px;
}

h1 {
    font-size: 27px;
}

b {
    text-decoration: underline solid gray 1px;
}

#checkbox {
    height: 17px;
    width: 17px;
}

#keineseite, #zufrühgeöffnet {
    display: none;
    color: #ffd1d1
}

#schaltercontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}

#schalterhintergrund {
    height: 35px;
    width: 70px;
    background-color: #700000;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
    border: 1px solid #0f0f0f;
}

#schalterhintergrund:has(#schaltercheckbox:checked) {
    background-color: #007000;
}

#schalterlogo {
    position: relative;
}

#schaltercheckbox {
    opacity: 0;
    width: 0px;
    height: 0px;
}

#schaltercheckbox:checked + #schalterlogo:before {
     left: 0px;
}

:root {
  --transition: left 0.5s;
}

#schalterlogo:before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  left: -55px;
  top: -8px;
  background: url("cookieswitch.png") no-repeat center;
  transition: var(--transition);
}
